
:root{
  --color:255, 248, 251;
  --color2:#ffae00;
  --color3:0, 204, 181;
  --color4:51, 51, 51;
  --color5:26, 26, 26;
  --color6:0, 0, 0;
  --alpha:0.8;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(var(--color5));
}
li, a, button{
  /* font-family: "Monstserrat",sans-serif; */
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: rgba(var(--color),var(--alpha));
}

.logo img{
  width: 40px;
  cursor: pointer;
 }
/* nav elements start */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10% ;
}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  
}

nav ul > * {
  display: block;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  }

nav ul li a{
  display: block;
  
}
nav ul li a:hover{
  color: rgba(var(--color3),0.9);
  }

/* nav elements end */
 /* ham start */
.toggle-button {
  display: none;
}
 /* ham end */
main{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
    position: relative;
    min-height: 100vh;
    background-color: rgb(var(--color6));
  }
  main >*{

    color: rgba(var(--color),0.9);
    background-color: rgb(var(--color6));
  }
 button{
  padding:  9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color:  rgb(var(--color3));
 }

 button:hover{
  background-color: rgba(var(--color3),var(--alpha));
}
 footer {
  margin: 0;
  padding: 60px;
  color: rgba(var(--color),0.9);
  text-align: center;
  position: sticky;

  flex-direction: column;
}
.copyright{

}
.social{
  flex-direction: row;
  list-style: none;
  font-size: 34px;}
/* 
.link-social a.hover{
  color: rgba(var(--color3),0.9);

} */
@media (max-width: 400px){
  /* ham start */
  .toggle-button {
    position: absolute;
    right: 10%;
    top: 4.5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px;
  }
   /* ham end */
  .logo{
    display:flex;
  }
  .toggle-button{
    display: flex;
    cursor: pointer;
  }
  nav{
    flex-direction: column;
    align-items: flex-start;
  }
  nav ul{
    flex-direction: column;
    align-self:center;
    width: 100%;
    
    height: 0;
    transition: height 0.1s ease;
  }
  nav ul.active{

    height: 100%;    
    transition: height 0.25s ease;
  }
  nav ul > *{
    width: 100%;
    margin: 0;
    border-radius: 0;
    line-height: 60px;
    background-color: rgb(var(--color5));
    text-align: center;
    padding: 20px;
  }
  nav ul > *:hover{

  color: rgba(var(--color3),var(--alpha));
  background-color: rgb(var(--color5));
  }
}
 /* 
.logo{
  margin-right: auto;
  display: flex;
}


# */
/* main{
  overflow: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
} */
/* 
@media (max-width:780px){
  
  #menu{
    display:none ;
  }
  .menubtn{
    display: block;
  }
  nav ul{
    position:absolute;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    background-color: #3d3f46;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .nav-item{
    align-self: center;
  }
  #menu:checked ~ .nav-list{
    left: 0; 
    display: block;
    align-items: center;
  }
 
} */
