

    <ul class="social">
        {{ range .Site.Params.social }}
        <li><a target="_blank" href="{{ .link }}" rel="noopener">
            <i class="fab fa-{{ .icon }}" title="{{ .description }}">link</i>
        </a></li>
        {{ end }}
    </ul>
    <p class="copyright">{{ replace .Site.Copyright "{year}" now.Year }}</p> 
