
    <meta charset="UTF-8">
    <meta name ="description" content="game dev site">
    <link rel="stylesheet" href= {{ "css/style.css" | relURL }}>
    <link rel="icon"  href={{ "img/Logo.svg" | relURL }} sizes="any" type="image/svg+xml">
    {{/*  <link rel="shortcut icon" href={{ "img/Logo.png" | relURL }}  type="image/png">  */}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src={{ "/js/script.js" | relURL }} defer></script>

    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>